<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">

</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Internal Server Error</h1>
        <p>Sorry, something went wrong on our end. We are working to fix the issue.</p>
    </div>
</body>
</html>
