<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Login</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/CSS/flash-styles.css') }}">

</head>

<body>
    <h1>Admin Login</h1>

    <form method="post" action="{{ url_for('admin_login') }}">
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>


        <button type="submit">Login</button>
    </form>
    <div style="float: right; position: bottom-right">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='static/JS/flash-disappear.js') }}"></script>

</body>

</html>
