<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">

</head>
<body>
    <h1>403 Forbidden</h1>
    <p>Sorry, you don't have permission to access this resource.</p>
</body>
</html>



<style>
    body {
        font-family: 'Arial', sans-serif;
        text-align: center;
        margin: 100px;
    }

    h1 {
        color: #d9534f;
    }

    p {
        color: #333;
    }
</style>