<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>429 Too Many Requests</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">

</head>
<body>
    <h1>429 Too Many Requests</h1>
    <p>You have sent too many requests in a given amount of time. Please wait and try again later.</p>
</body>
</html>
