<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>415 Unsupported Media Type</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">
</head>
<body>
    <h1>415 Unsupported Media Type</h1>
    <p>The server does not support the media type transmitted in the request.</p>
</body>
</html>
