<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>InsipiraHub - Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--My custom css files-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/Forms-styles/form-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/Flashes/flash-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/General-Styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/index-styles-.css') }}">

</head>
<body>

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">The Intuitivers Group</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="head">InsipiraHub: Where We Grow By Love</header>
        <div class="header">
            <a class="btn btn-primary" href="/register">Register</a>
            <a class="btn btn-secondary" href="/login">Login</a>
            <a class="btn btn-primary" href="/about">About us</a>
            <a class="btn btn-secondary" href="/contact">Contact</a>
            <a class="btn btn-primary" href="/services">Services</a>
        </div>

    <!--Main window-->
    <main>
        <p>Unlock endless possibilities and elevate your online presence with us!</p>
        <p>Seize the day and make your digital dreams a reality!</p>
        <p>Take the plunge into the digital age. Unleash your potential, and let your uniqueness shine!</p>
    </main>

    <!-- Flash message-->
    <div class="flash-message-box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if 'Error' in message %}
                        <div class="flash-message flash-error">{{ message }}</div>
                    {% elif 'success' in message %}
                        <div class="flash-message flash-success">{{ message }}</div>
                    {% elif 'Info' in message %}
                        <div class="flash-message flash-info">{{ message }}</div>
                    {% else %}
                        <div class="flash-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Footer -->
    <footer class="mt-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 footer-column">
                    <p class="info">InsipiraHub</p>
                    <p><a href="/">Home</a></p>
                    <p><a href="/about">About</a></p>
                </div>
                <div class="col-md-3 footer-column">
                    <p class="info">Support</p>
                    <p><a href="/contact">Contact</a></p>
                    <p><a href="/services">Services</a></p>

                </div>

                <div class="col-md-3 footer-column">
                    <p class="info">Legal and Policies</p>
                    <p><a href="/terms">Terms of Service</a></p>
                    <p><a href="/partnerships">Partnerships</a></p>
                    <p><a href="/privacy_policy">Privacy Policy</a></p>
                </div>

            <div class="col-md-3 footer-column">                    <p class="info">Where we're</p>
                    <p>Follow us: <a href="https://twitter.com/Perfect_Altruis" target="_blank">Twitter</a></p>
                    <p>We are on: <a href="https://github.com/Perfect-Altruistics" target="_blank">GitHub</a></p>
                    <p><a href="/services">Services</a></p>
                </div>

            </div>
                <p>&copy; 2023 The InsipiraHub. All rights reserved.</p>
                <p>Contact: info@insipirahub.com</p>
        </div>
    </footer>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='Static/Functions/flash-disappear.js') }}"></script>

</body>
</html>