<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #333;
            color: white;
            text-align: center;
            margin: 0;
            padding: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <p>If this email is associated with an account, you will receive an email with instructions to reset your password. The email may take 1 to 3 minutes to arrive.</p>
</body>
</html>
