<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Include Bootstrap from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--My custom styles files-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/General-Styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/Flashes/flash-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Static/CSS/Forms-styles/form-styles.css') }}">
</head>

<body>

<!-- Flash message-->
    <div class="flash-message-box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if 'Error' in message %}
                        <div class="flash-message flash-error">{{ message }}</div>
                    {% elif 'success' in message %}
                        <div class="flash-message flash-success">{{ message }}</div>
                    {% elif 'Info' in message %}
                        <div class="flash-message flash-info">{{ message }}</div>
                    {% else %}
                        <div class="flash-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <!-- Content -->
    <div class="container mt-5">
        <div class="form-group">
            <h1>Reset Password</h1>
            <form method="post">
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="links text-center">
            <p><a href="/">Home</a> | <a href="/login">Login</a></p>
        </div>
    </div>

    <!-- Include Bootstrap JS and Popper.js (required for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
