<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>502 Bad Gateway</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">

</head>
<body>
    <h1>502 Bad Gateway</h1>
    <p>The server, while acting as a gateway or proxy, received an invalid response from the upstream server.</p>
</body>
</html>
