<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503 Service Unavailable</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Uploads/Static/CSS/Error-Styles/custom-error-shared-style.css">

</head>
<body>
    <h1>503 Service Unavailable</h1>
    <p>The server is currently unable to handle the request due to temporary overloading or maintenance of the server.</p>
</body>
</html>
